

body{
	line-height: 1.5;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	padding-right:0;
	padding-left:0;
}
*{
	margin:0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}
.row{
	display: grid;
	flex-wrap: wrap;
	padding-bottom:200px;
	margin-left:0px;
	margin-right:0px;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:15px;
	background: url('anh/flower.webp') no-repeat center center;
	background-size: cover;
	height: 300px;
	
	padding: 40px;
}
.header .item-left{
	flex:0 0 17%;
}

.header .logo a{
    letter-spacing: 4px;
	font-size: 50px;
	color:black;
	font-weight: 700;
	text-decoration:none;
	font:  "Lato", sans-serif;
}
.header .item-right a{ 
	text-decoration: none;
	font-size: 16px;
	color:beige;
	display: inline-block;
	margin-left: 10px;
	transition: color 0.3s ease;
	font: "Lato", sans-serif;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 25px;
	font-weight: 500;
	color:black;
	position: relative;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 900px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#CD5C5C;
	font-weight: 900;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#CD5C5C;
}

.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}






.col {
	padding-top: 50px;
	padding-right: 28px;
    padding-left: 154px;
	padding-bottom: 50px;
	
}

.hero-container {
	height: 70vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
  }
  
  .hero {
	background: url('anh/flower.webp') 
	no-repeat center center;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 40px;
	transition: transform 2s;
  }
  
  .hero:hover {
	transform: scale(1.15);
  }
  
  .hero-stuff {
	position: absolute;
	top: 10%;
	left:7%;
  }
  
  .hero-stuff h1 {
	font-size: 60px;
	font-weight: 500;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
	color: #000;
  }
  
  .hero-stuff a.btn {
	display: inline-block;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 11px 30px;
	background-color: #636363;
	background-image: linear-gradient(to right,deeppink,darkred );
	color: #fff;
	text-transform: uppercase;
  }
  
  a.btn:hover {
	background-image: linear-gradient(to bottom,#000,#000);
  }
  
 









.sonDior{
	
	padding:0 50px 10px 50px;
}



.contentcol1{
	display:block;
	text-align: center;
	margin-top:50px;
	font-weight:900;
	font-size:17px;
	color:#000;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}

.contentcol1 hr{
	border:1px solid black;
}

.contentcol1 p{
	box-sizing: border-box;
	background-color: #000000;
	color:#fff;
	padding:15px ;
	border-radius: 1px;
}


.contentcol1  p:hover{
background-color: #600409;
color:#fff;
}



.sonduong {
	text-align:center;
	font-weight:900;
	font-size:50px;
	color:black;
	margin-top:100px;
	}


.sonchi {
	text-align: center;
	font-weight: 900;
	font-size: 50px;
	color: black;
}




.sonthoi {
	margin-top:150px;
	text-align: -webkit-center;
	font-weight: 900;
	font-size: 50px;
	color: black;
}


.kemnen {
	margin-top:150px;
	text-align: -webkit-center;
	font-weight: 900;
	font-size: 50px;
	color: black;
}

.eyelinerchi{
	margin-top:150px;
	padding-bottom:50px;
	text-align: center;
	font-weight: 900;
	font-size: 50px;
	color: black;
}


.col-md-3{
	height: 550px;
	position: relative;
    width: 100%;
    padding-right: 38px;
    padding-left: 38px;
}

.col-md-3 img:hover{
	border:5px double rgb(36, 4, 4);
	border-radius: 5px;
}


.rowsd{ 
	margin-top:50px;
}

.khampha p{
	padding: 50px 0px 20px;
    width: 100%;
    text-align:left;
    font-size: 15px;
	margin-left:10px;
	color:#000;
	font-weight:400;
	margin-top: 140px;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}


#qcdo{
	border-radius:10px;
	display:flex;
	width:100%;
	padding-bottom:-30px;
}


#qcmac{
	border-radius:10px;
	display:flex;
	width:100%;
	background-color: #600409;
    padding-bottom: 25px;
	margin-left:10px;
}



.khamphas p{
	padding: 70px 0px 20px;
    width: 100%;
    text-align:center;
    font-size: 15px;
	color:#fff;
	font-weight:400;
	margin-top: 140px;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}

.qcdior{
	margin-top:50px;
	border-radius: 6px;;
	border:10px solid #000;
	width:100%;
}

#widthsonthoi{
width:5%;
}



.readmore{
    margin-top:-200px;
}




.bareadmore {
  background-color: #000000;
  display: inline-block;
  font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 14px;
  max-width: 300px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.bareadmore * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.bareadmore h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.bareadmore:before,
.bareadmore:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.bareadmore:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.bareadmore:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.bareadmore img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  border:4px solid white;
}

.bareadmore figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.bareadmore a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.bareadmore:hover > img,
.bareadmore.hover > img {
  opacity: 0.5;
}

.bareadmore:hover:before,
.bareadmore.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.bareadmore:hover:after,
.bareadmore.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.bareadmore:hover figcaption,
.bareadmore.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.chuaimg{
	width:100%;
	position:relative;
	display:inline-block;
}


.chuaimg .matsau{
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index: 99;
}


.chuaimg:hover .matsau{
	display:inline;
	
}

.mua{
	position:absolute;
	top: 45%;
    left: 33%;
    background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.mua:hover{
	cursor:pointer;
	border:2px solid #fff;
	transition: .2s;
	color:#fff;
	background-color:darkred;
}


#kn p{
	padding: 20px;
    background-color: #fff;
    font-size: 17px;
    font-family: inherit;
    margin-top: 15%;
	color:#000;
}

#kn:hover{
	cursor:pointer;
	background-color:#fff;
}

#vidkn:hover{
	cursor:pointer;
	background-color:#fff;
}


.col-md-6{
	margin-top:130px;
}

.col-md-6:hover {
	cursor:pointer;
	background-color:burlywood;
}

.col-md-6 h1{
	text-align: center;
	margin-top:80px;
	font-weight:900;
	font-size:100px;
	color:#000;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}

.col-md-6 p {
	box-sizing: border-box;
	text-align: center;
	margin-top:50px;
	font-weight:600;
	font-size:30px;
	color:#fff;
	background-color:#000;
	font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}


.col-md-6 img{
	align-items: center;
	border: 10px solid #000;
}

.col-md-6 hr{
	border: 4px solid #600409;
}

.col-md-6 a:hover {
	text-decoration: none;
}


.banner{
    padding: 0  0 50px 0;
    background-color:#000 ;
}

.hinheln img{
border: 4px solid #fff ;
}

.deke h1{
	display:block;
	text-align: center;
	margin-top:50px;
	font-weight:700;
	font-size:60px;
	color:#fff;
	letter-spacing: .00625rem;
    line-height: 3.428571;
	font-family:Campton,arial,sans-serif;
}


.deke h3{
	display:block;
	text-align: center;
	font-weight:700;
	font-size:20px;
	color:#fff;
	letter-spacing: .00625rem;
	margin-top:-5%;
	margin-bottom:5%;
	font-family:Campton,arial,sans-serif;
}

.hfdt{
	width: 100%;
    height: 300px;
}

/* Container(fdt) holding the image and the text */
.fdt {
	position: relative;
	text-align: center;
	color: white;
  }


/* Centered text */
.centered {
	position: absolute;
	top: 40%;
	left: 75%;
	transform: translate(-50%, -50%);
  }

  .centered h1{
font-size: 80px;
color:#fff;
  }


  .centered h3{
	margin-top:-30px;
	font-size: 15px;
	color:#fff;
	  }


	  .gia{
		background-color:#fff;
	  }
